<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.vertec.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.vertec.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.vertec.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivilegeController</servlet-name>
        <servlet-class>com.vertec.controller.PrivilegeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.vertec.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>com.vertec.controller.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>com.vertec.controller.ReportController</servlet-class>
    </servlet>
   





    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivilegeController</servlet-name>
        <url-pattern>/Privilege</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
