<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jayasinghe</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123</property>
    <mapping class="com.vertec.hibe.model.Category"/>
    <mapping class="com.vertec.hibe.model.Customer"/>
    <mapping class="com.vertec.hibe.model.Invoice"/>
    <mapping class="com.vertec.hibe.model.InvoiceInfo"/>
    <mapping class="com.vertec.hibe.model.Payment"/>
    <mapping class="com.vertec.hibe.model.PaymentType"/>
    <mapping class="com.vertec.hibe.model.Priviledge"/>
    <mapping class="com.vertec.hibe.model.PrivilegeItem"/>
    <mapping class="com.vertec.hibe.model.SecurityOfficer"/>
    <mapping class="com.vertec.hibe.model.Supervisor"/>
    <mapping class="com.vertec.hibe.model.SysUser"/>
    <mapping class="com.vertec.hibe.model.UserGroup"/>
    <mapping class="com.vertec.hibe.model.UserGroupPriviledge"/>
    <mapping class="com.vertec.hibe.model.UserGroupPrivilegeItem"/>
  </session-factory>
</hibernate-configuration>
